/*------------------- HERO ------------------- */

.hero {
    background-image: url(images/background/img_hero.webp);
    background-size: cover;
    background-position: 50% 40%;
    height: 90vh;
    
    p {
    position: relative;
    z-index: 2;
    top: 18rem;
    margin: 0 0 2rem 3rem;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: $blue;
        span {
        color: $aquaMarine;
        }
    }
}

/*------------------- ABOUT US ------------------- */

.aboutUs {
display: flex;

    .aboutUs-txt{
    font-size: 1.4rem;
    color: $blue;
    background-color: white;
    width: 40%;
    margin-bottom: 12rem;
    padding: 0 2rem;
    z-index: 2;
    display: flex;
        justify-content: center;
        flex-direction: column;

        p {
        margin: 1rem 0;
        }
    }

    .aboutUs-img{
    width: 60%;
    background-image: url(images/background/img_nosotros.webp);
    background-size: cover;
    background-position: 90% 50%;
    height: 100vh;
    }

    .bottomWave {
    z-index: 3;
    }
}

/*------------------- STEPS ------------------- */

.steps {
background-color: $blue;
text-align: center;
padding: 3rem 0;

    .txt {
    color: white;
    font-size: 1.4rem;
    }

    div {
    padding-top: 2rem;
    display: flex;
        justify-content: center;
        align-items: center;

        article {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        margin: 0 2rem;
        padding: 1rem;
        height: 20rem;
        width: 24rem;
        background-size: cover;
        background-position: center;
        transition: .5s;

        &:hover {
            transform: scale(1.05);
            }

            img {
            width: 7rem;
            margin-top: 1.5rem;
            }
        }
    }

    .step1 {
    background-image: url(images/background/blob1.svg);
    }
    .step2 {
    background-image: url(images/background/blob2.svg);
    }
    .step3 {
    background-image: url(images/background/blob3.svg);
    }
}

/*------------------- CREDITS ------------------- */

.credits {
padding: 15rem 0;
height: 50rem;

    .credits_nav {
        h2 {
        text-align: center;
        font-size: 3rem;
        }

        ul {
        list-style: none;
        display: flex;
            align-items: center;
            justify-content: center;
        
            a {
            font-size: 1.25rem;
            margin: 1.25rem;
            text-decoration: none;
            color: $blue;
            font-family: 'Raleway', sans-serif;
            }

            .active {
            border-bottom: 2px solid $aquaMarine;
            }

            .inactive {
                &::after{
                content: '';
                display: block;
                height: 2px;
                background: $aquaMarine;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .2s ease-in-out;
                }
            
                &:hover::after{
                transform: scaleX(1);
                transform-origin: left;
                }
            }
        }
    }

    article {
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 3rem 0 3rem -8rem;

        .txt {
        font-size: 1.1rem;
        max-width: 40rem;
            p {
            margin: .5rem 0;
            }
        }
        
        .credit_img {
        width: 30rem;
        border-radius: .25rem;
        transition: .5s;

            &:hover {
            transform: scale(1.05);
            }
        }
    }
}

/*------------------- SIMULADOR ------------------- */

.simulator {
height: 50rem;
display: flex;
    
    .simulator > * {
    margin: 0 auto 15rem auto;
    padding-top: 2rem;
    }

    #simulator-form {
    display: flex;

        p {
        font-size: 2rem;
        max-width: 20rem;
        margin: 0 5rem 0 0 ;
        }

        form {
        width: 28rem;
        max-width: 1000px;
        display: flex;
            flex-direction: column;

            label {
            margin: 1rem 0 .5rem 0;
            padding-left: .8rem;
            }

            select, input {
            font-size: .9rem;
            padding: .5rem 1rem;
            border: 1px solid $gray;
            border-radius: .8rem;
            }

            .btn {
            margin-top: 2rem;
            }
        }

        #amountErrorMessage, #insuficientIncomeMessage {
            color: red;
            font-size: 1.25rem;
            text-align: center;
            margin: auto;
        } 
    }

    #simulator-form-response {
    text-align: center;
    font-size: 2rem;
    max-width: 50rem;
    }

    #contact-form {
    display: flex;

        p {
        font-size: 2rem;
        max-width: 20rem;
        margin: 0 5rem 0 0 ;
        }

        form {
        width: 28rem;
        max-width: 1000px;
        display: flex;
            flex-direction: column;

            label {
            font-size: 1.25rem;
            
            }

            input {
            margin: .5rem 0 1rem 0;
            padding-left: .8rem;
            font-size: 1rem;
            padding: .5rem 1rem;
            border: 1px solid $gray;
            border-radius: .8rem;
            }

            .btn {
            width: 15rem;
            }

            .btn-grey {
            width: 12rem;
            }

            .creditDetails {
            font-size: 1rem;
            }

            #contactForm_ErrorMessage {
                color: red;
                font-size: 1.25rem;
                text-align: center;
                margin: auto;
            } 
        }
    }

    #contact-form-response {
    text-align: center;
    font-size: 2rem;
    max-width: 50rem;
        
        div {
        margin-bottom: 3rem;
        display: flex;
            justify-content: center;
            align-items: center;

            img {
            width: 20rem;
            margin: 0 4rem 0 0;
            transition: .5s;

                &:hover {
                transform: scale(1.05);
                }
            }
        }
    }

    #credit-history {

        .credit-history_table {
        text-align: center;
        margin: 3rem auto 2rem auto;

            th {
            color: white;
            background: $blue;
            padding: 1rem 4rem;
            border-radius: 1rem;
            }
        }
    }
}

/*------------------- CONTACTO ------------------- */

.contact {
background-color: $gray;
padding: 3rem 0;
text-align: center;

    p {
    font-size: 1.4rem;
    }

    div {
    padding: 2rem 0 15rem 0;
    display: flex;
        justify-content: center;
        align-items: center;

        article {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        margin: 0 2rem;
        padding: 1rem;
        height: 22rem;
        width: 24rem;
        background-size: cover;
        background-position: center;
        transition: .5s;

            &:hover {
            transform: scale(1.05);
            }

            p {
            max-width: 14rem;
            }

            img {
            width: 7rem;
            margin-top: 1.5rem;
            }
        }
    }

    .whatsapp {
    background-image: url(images/background/blob4.svg);
    }
    .phone {
    background-image: url(images/background/blob5.svg);
    }
    .email {
    background-image: url(images/background/blob6.svg);
    }

}