/*------------------- RESET ------------------- */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
overflow-x: hidden;
overflow-y: auto;
width: 100%;
font-family: 'Montserrat', sans-serif;
}

html {
scroll-behavior: smooth;
}

/*------------------- FONTS ------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*------------------- TEXT ------------------- */

.tittle {
text-align: center;
margin: 1rem 0;
font-family: 'Raleway', sans-serif;
font-size: 3rem;
}

/*------------------- BUTTONS ------------------- */

.btn {
display: block;
border: none;
text-decoration: none;
color: white;
background-color: $blue;
text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 1.5rem;
border-radius: .5rem;
padding: 0.75rem;
margin: 1rem auto;
max-width: 18rem;

    &::after{
    content: '';
    display: block;
    height: 3px;
    background: #44FFD4;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-in-out;
    }

    &:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    }
}

.btn-grey {
color: black;
background-color: $gray;
max-width: 15rem;
font-size: 1.25rem;
}

/*------------------- SVG ------------------- */

svg {
position: absolute;
z-index: 1;
overflow: hidden;
line-height: 0;
}

.topWave {
top: 0;
left: 0;
}

.bottomWave {
bottom: 0;
left: 0;
}

/*------------------- CONTAINERS ------------------- */

.container {
position: relative;
overflow: hidden;
}

/*------------------- SLIDING ELEMENTS (For credits and simulator sections) ------------------- */

.activeElement {
    position: absolute;
    left: 20%;
    transition: left 1.5s;
}

.hiddenElement {
    position: absolute;
    left: -600%;
    transition: left 1.5s;
}
