/*------------------- MOBILE ------------------- */

@media screen and (max-width: 767px) {
    .activeElement {
    left: 0%;
    }

    header{

        .header_logo {
        position: static;
        top: 0;
        left: 0;
        width: 15rem;
        margin: .15rem 15rem 0 0;
        z-index: 4;
        }

        nav {
        position: fixed;
            left: -100%;
            top: 0;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        background: linear-gradient(160deg, rgba(38,111,245,1) 75%, rgba(68,255,212,1) 100%);
        transition: left 0.5s;
        z-index: 3;

            ul {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }

            ul li {
            margin: 1rem 0;
            }

            ul a {
            font-size: 1.8rem;
            font-weight: bold;
            color: white;
            }
        }

        .menu-active {
        left: 0;
        transition: left .5s;
        }

        .hamburguer-icon {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        margin: auto;
        z-index: 4;


            .line {
            background: white;
            border-radius: .5rem;
            width: 40px;
            height: 6px;
            margin-bottom: 8px;
            transition: .5s;
            }

            .top {
            -ms-transform: rotate(-45deg); /* IE 9 */
            -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
            transform: rotate(-45deg);
            top: 18px;
            position: relative;
            }

            .center {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0,3s, opacity 2s linear;
            }
                
            .bottom {
            -ms-transform: rotate(140deg); /* IE 9 */
            -webkit-transform: rotate(140deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            top: -10px;
            position: relative;
            }
        }
    }

    .hero {
        p {
        position: relative;
        z-index: 2;
        top: 2.5rem;
        margin: 0 0 2rem 1rem;
        font-size: 3.75rem;
        max-width: 7rem;
        }
    }

    .aboutUs {
    display: block;
    
        .aboutUs-txt{
        width: 100%;
        margin-bottom: 3.5rem;
        text-align: center;
        margin-top: 3.5rem;
        }
    
        .aboutUs-img{
        display: none;
        }
    }

    .steps {

        div {
        padding-top: 1rem;
        flex-direction: column;
    
            article {
            margin: 1rem;
            }
        }
    }

    .credits {
    padding: 4rem 0 10rem 0;
    
        .credits_nav {
            h2 {
            font-size: 2.5rem;
            }

            ul {
            flex-wrap: wrap;
            margin-top: 1rem;
                a {
                margin: .3rem 1rem;
                }
            }
        }

        article {
        flex-direction: column;
        margin: 1.5rem 2rem 3rem 2rem;
            .txt {
            margin: .5rem 0 1.5rem 0;
            max-width: 18rem;

            }
            .credit_img {
            width: 18rem;
            }
        }
    }
    
    .simulator {
    height: 55rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        h2 {
        font-size: 2.5rem;
        margin: 2rem 0 1.5rem 0;
        }

        .simulator > * {
        margin: 0 auto 15rem auto;
        padding-top: 2rem;
        }

    #simulator-form {
    flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
        font-size: 1rem;
        max-width: 16rem;
        margin: 0 0 1.5rem 0;
        text-align: center;
        line-height: 1.5rem;
        }

        form {
        width: 20rem;
        margin-left: 1.25rem;
        }

        #amountErrorMessage, #insuficientIncomeMessage {
        font-size: 1rem;
        } 
    }

    #simulator-form-response {
    max-width: 22rem;
    margin-top: 5rem;
    }

    #contact-form {
    flex-direction: column;
        justify-content: center;
        align-items: center;
    
        p {
        font-size: 1rem;
        max-width: 16rem;
        margin: 0 0 1.5rem 0;
        text-align: center;
        line-height: 1.5rem;
        }

        form {
        width: 20rem;
        margin-left: 1.25rem;

            #contactForm_ErrorMessage {
            font-size: 1rem;
            }
        }
    }

    #contact-form-response {

        div {
        flex-direction: column;

            p {
            max-width: 22rem;
            }
            
            img {
            width: 10rem;
            margin: 0 0 1.5rem 0;
            }
        }
    }

    #credit-history {
    margin: 6rem 0 0 -4rem;

    .credit-history_table {
    margin: 0 auto 2rem auto;

            th {
            padding: .5rem .5rem;
            }
        }
    }
    }

    .contact {
        
        div {
        padding: 2rem 0 4rem 0;
        flex-direction: column;
    
            article {
            margin: 1rem;
            }
        }
    }

    footer {

        .footer_container {
        flex-flow: column-reverse;
        margin-top: -8rem;

            .footer_logo {
            margin-bottom: 1rem;
            }

            .footer_nav_desktop {
            display: none;
            }

            .footer_nav_mobile {
            text-align: center;
            margin-bottom: 0rem;
            display: flex;
               flex-direction: column;
            }

            .socialNetwork {
            margin: 3rem 1rem;
            }

            .usuariosFinancieros {
            display: none;
            }
        }
    }
}
