/*------------------- RESET ------------------- */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*------------------- FONTS ------------------- */
/*------------------- TEXT ------------------- */
.tittle {
  text-align: center;
  margin: 1rem 0;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}

/*------------------- BUTTONS ------------------- */
.btn, .btn-grey, .btn-disabled {
  display: block;
  border: none;
  text-decoration: none;
  color: white;
  background-color: #266FF5;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  border-radius: .5rem;
  padding: 0.75rem;
  margin: 1rem auto;
  max-width: 18rem;
}

.btn::after, .btn-grey::after, .btn-disabled::after {
  content: '';
  display: block;
  height: 3px;
  background: #44FFD4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.btn:hover::after, .btn-grey:hover::after, .btn-disabled:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.btn-grey {
  color: black;
  background-color: #d0cde1;
  max-width: 15rem;
  font-size: 1.25rem;
}

.btn-disabled {
  background-color: black;
  color: #d0cde1;
  pointer-events: none;
}

.isDesabled {
  pointer-events: none;
}

/*------------------- SVG ------------------- */
svg {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  line-height: 0;
}

.topWave {
  top: 0;
  left: 0;
}

.bottomWave {
  bottom: 0;
  left: 0;
}

/*------------------- CONTAINERS ------------------- */
.container {
  position: relative;
  overflow: hidden;
}

/*------------------- SLIDING ELEMENTS (For credits and simulator sections) ------------------- */
.activeElement {
  position: absolute;
  left: 22%;
  -webkit-transition: left 1.5s;
  transition: left 1.5s;
}

.hiddenElement {
  position: absolute;
  left: -600%;
  -webkit-transition: left 1.5s;
  transition: left 1.5s;
}

.specialAlignment {
  /*----------- For credit history section, which needs a different position % to be centered --------- */
  position: absolute;
  left: 18%;
  -webkit-transition: left 1.5s;
  transition: left 1.5s;
}

/*------------------- DISPLAY NONE / DISPLAY BLOCK ------------------- */
.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

/*------------------- Fixed position ------------------- */
.fixed-position {
  position: fixed;
}

@-webkit-keyframes preload-show-1 {
  from {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-show-1 {
  from {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-hide-1 {
  to {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-hide-1 {
  to {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-cycle-1 {
  5% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  10%,
  75% {
    -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  80%,
  100% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-cycle-1 {
  5% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  10%,
  75% {
    -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  80%,
  100% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-show-2 {
  from {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-show-2 {
  from {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-hide-2 {
  to {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-hide-2 {
  to {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-cycle-2 {
  10% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  15%,
  70% {
    -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  75%,
  100% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-cycle-2 {
  10% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  15%,
  70% {
    -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  75%,
  100% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-show-3 {
  from {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-show-3 {
  from {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-hide-3 {
  to {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-hide-3 {
  to {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-cycle-3 {
  15% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  20%,
  65% {
    -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  70%,
  100% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-cycle-3 {
  15% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  20%,
  65% {
    -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  70%,
  100% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-show-4 {
  from {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-show-4 {
  from {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-hide-4 {
  to {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-hide-4 {
  to {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-cycle-4 {
  20% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  25%,
  60% {
    -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  65%,
  100% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-cycle-4 {
  20% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  25%,
  60% {
    -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  65%,
  100% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-show-5 {
  from {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-show-5 {
  from {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-hide-5 {
  to {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-hide-5 {
  to {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-cycle-5 {
  25% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  30%,
  55% {
    -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  60%,
  100% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-cycle-5 {
  25% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  30%,
  55% {
    -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  60%,
  100% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-show-6 {
  from {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-show-6 {
  from {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-hide-6 {
  to {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-hide-6 {
  to {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-cycle-6 {
  30% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  35%,
  50% {
    -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  55%,
  100% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@keyframes preload-cycle-6 {
  30% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
  35%,
  50% {
    -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #44FFD4;
  }
  55%,
  100% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #22a18a;
  }
}

@-webkit-keyframes preload-flip {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(-60deg);
            transform: rotateY(0deg) rotateZ(-60deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(-60deg);
            transform: rotateY(360deg) rotateZ(-60deg);
  }
}

@keyframes preload-flip {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(-60deg);
            transform: rotateY(0deg) rotateZ(-60deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(-60deg);
            transform: rotateY(360deg) rotateZ(-60deg);
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: block;
  width: 3.75em;
  height: 4.25em;
  margin-left: -1.875em;
  margin-top: -2.125em;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotateY(180deg) rotateZ(-60deg);
          transform: rotateY(180deg) rotateZ(-60deg);
}

.preloader .slice {
  border-top: 1.125em solid transparent;
  border-right: none;
  border-bottom: 1em solid transparent;
  border-left: 1.875em solid #22a18a;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  border-radius: 3px 3px 0 0;
}

.preloader .slice:nth-child(1) {
  -webkit-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.82s preload-hide-1 both 1;
          animation: 0.15s linear 0.82s preload-hide-1 both 1;
}

.preloader .slice:nth-child(2) {
  -webkit-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.74s preload-hide-2 both 1;
          animation: 0.15s linear 0.74s preload-hide-2 both 1;
}

.preloader .slice:nth-child(3) {
  -webkit-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.66s preload-hide-3 both 1;
          animation: 0.15s linear 0.66s preload-hide-3 both 1;
}

.preloader .slice:nth-child(4) {
  -webkit-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.58s preload-hide-4 both 1;
          animation: 0.15s linear 0.58s preload-hide-4 both 1;
}

.preloader .slice:nth-child(5) {
  -webkit-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.5s preload-hide-5 both 1;
          animation: 0.15s linear 0.5s preload-hide-5 both 1;
}

.preloader .slice:nth-child(6) {
  -webkit-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.42s preload-hide-6 both 1;
          animation: 0.15s linear 0.42s preload-hide-6 both 1;
}

.preloader.loading {
  -webkit-animation: 2.5s preload-flip steps(2) infinite both;
          animation: 2.5s preload-flip steps(2) infinite both;
}

.preloader.loading .slice:nth-child(1) {
  -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2.5s preload-cycle-1 linear infinite both;
          animation: 2.5s preload-cycle-1 linear infinite both;
}

.preloader.loading .slice:nth-child(2) {
  -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2.5s preload-cycle-2 linear infinite both;
          animation: 2.5s preload-cycle-2 linear infinite both;
}

.preloader.loading .slice:nth-child(3) {
  -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2.5s preload-cycle-3 linear infinite both;
          animation: 2.5s preload-cycle-3 linear infinite both;
}

.preloader.loading .slice:nth-child(4) {
  -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2.5s preload-cycle-4 linear infinite both;
          animation: 2.5s preload-cycle-4 linear infinite both;
}

.preloader.loading .slice:nth-child(5) {
  -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2.5s preload-cycle-5 linear infinite both;
          animation: 2.5s preload-cycle-5 linear infinite both;
}

.preloader.loading .slice:nth-child(6) {
  -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2.5s preload-cycle-6 linear infinite both;
          animation: 2.5s preload-cycle-6 linear infinite both;
}

.preloader_wrapper {
  background: #266FF5;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  overflow-y: hidden;
}

/*------------------- NAVBAR ------------------- */
header {
  background-color: #266FF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .icon {
  display: none;
}

header .header_logo {
  width: 20rem;
  position: absolute;
  top: .25em;
  left: 2rem;
}

header ul {
  list-style: none;
  margin: 1rem 2rem .75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul a {
  font-size: 1.25rem;
  margin: 1.25rem;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}

header ul a::after {
  content: '';
  display: block;
  height: 2px;
  background: #44FFD4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

header ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/*------------------- HERO ------------------- */
.hero {
  background-image: url(images/background/img_hero.webp);
  background-size: cover;
  background-position: 50% 40%;
  height: 90vh;
}

.hero p {
  position: absolute;
  bottom: .5rem;
  z-index: 2;
  margin: 0 0 2rem 2.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #266FF5;
}

.hero p span {
  color: #44FFD4;
}

/*------------------- ABOUT US ------------------- */
.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs .aboutUs-txt {
  font-size: 1.4rem;
  color: #266FF5;
  background-color: white;
  width: 40%;
  margin-bottom: 12rem;
  padding: 0 2rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutUs .aboutUs-txt p {
  margin: 1rem 0;
}

.aboutUs .aboutUs-img {
  width: 60%;
  background-image: url(images/background/img_nosotros.webp);
  background-size: cover;
  background-position: 90% 50%;
  height: 100vh;
}

.aboutUs .bottomWave {
  z-index: 3;
}

/*------------------- STEPS ------------------- */
.steps {
  background-color: #266FF5;
  text-align: center;
  padding: 3rem 0;
}

.steps .txt {
  color: white;
  font-size: 1.4rem;
}

.steps div {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps div article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  padding: 1rem;
  height: 20rem;
  width: 24rem;
  background-size: cover;
  background-position: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.steps div article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.steps div article img {
  width: 7rem;
  margin-top: 1.5rem;
}

.steps .step1 {
  background-image: url(images/background/blob1.svg);
}

.steps .step2 {
  background-image: url(images/background/blob2.svg);
}

.steps .step3 {
  background-image: url(images/background/blob3.svg);
}

/*------------------- CREDITS ------------------- */
.credits {
  padding: 15rem 0;
  height: 50rem;
}

.credits .credits_nav h2 {
  text-align: center;
  font-size: 3rem;
}

.credits .credits_nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.credits .credits_nav ul a {
  font-size: 1.25rem;
  margin: 1.25rem;
  text-decoration: none;
  color: #266FF5;
  font-family: 'Raleway', sans-serif;
}

.credits .credits_nav ul .active {
  border-bottom: 2px solid #44FFD4;
}

.credits .credits_nav ul .inactive::after {
  content: '';
  display: block;
  height: 2px;
  background: #44FFD4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.credits .credits_nav ul .inactive:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.credits article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 3rem -8rem;
}

.credits article .txt {
  font-size: 1.1rem;
  max-width: 32rem;
  margin: 0 1rem;
}

.credits article .txt p {
  margin: .5rem 0;
}

.credits article .txt p span {
  font-weight: 600;
}

.credits article .credit_img {
  width: 30rem;
  border-radius: .25rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.credits article .credit_img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*------------------- SIMULADOR ------------------- */
.simulator {
  height: 53rem;
}

.simulator h2 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0 4rem 0;
}

.simulator .simulator > * {
  margin: 0 auto 15rem auto;
  padding-top: 2rem;
}

.simulator #simulator-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simulator #simulator-form p {
  font-size: 2rem;
  line-height: 2.55rem;
  max-width: 20rem;
  margin: 0 5rem 0 0;
}

.simulator #simulator-form form {
  width: 28rem;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.simulator #simulator-form form label:first-child {
  margin: 0 0 .5rem 0;
}

.simulator #simulator-form form label {
  margin: 1rem 0 .5rem 0;
  padding-left: .8rem;
}

.simulator #simulator-form form select, .simulator #simulator-form form input {
  font-size: .9rem;
  padding: .5rem 1rem;
  border: 1px solid #d0cde1;
  border-radius: .8rem;
}

.simulator #simulator-form form .btn, .simulator #simulator-form form .btn-grey, .simulator #simulator-form form .btn-disabled {
  margin-top: 2rem;
}

.simulator #simulator-form #amountErrorMessage, .simulator #simulator-form #insuficientIncomeMessage {
  color: red;
  font-size: .95rem;
  line-height: 1.25rem;
  text-align: center;
  margin: auto;
}

.simulator #simulator-form-response {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  max-width: 50rem;
}

.simulator #simulator-form-response p {
  margin-bottom: 3rem;
}

.simulator #simulator-form-response a {
  margin-top: 1.5rem;
}

.simulator #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simulator #contact-form #creditQuery-data {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: -1.5rem;
}

.simulator #contact-form p {
  font-size: 2rem;
  line-height: 3.1rem;
  max-width: 20rem;
  margin: 0 5rem 0 0;
}

.simulator #contact-form form {
  width: 28rem;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.simulator #contact-form form label {
  font-size: 1.25rem;
}

.simulator #contact-form form input {
  margin: .5rem 0 1rem 0;
  padding-left: .8rem;
  font-size: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #d0cde1;
  border-radius: .8rem;
}

.simulator #contact-form form .btn, .simulator #contact-form form .btn-grey, .simulator #contact-form form .btn-disabled {
  width: 15rem;
}

.simulator #contact-form form .btn-grey {
  width: 12rem;
  margin: 0 auto .5rem auto;
}

.simulator #contact-form form #contactForm_ErrorMessage {
  color: red;
  font-size: .95rem;
  line-height: 1.25rem;
  text-align: center;
  margin: auto;
}

.simulator #contact-form-response {
  text-align: center;
  font-size: 2rem;
  max-width: 50rem;
}

.simulator #contact-form-response div {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simulator #contact-form-response div img {
  width: 15rem;
  margin: 0 4rem 0 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.simulator #contact-form-response div img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.simulator #credit-history .credit-history_table {
  text-align: center;
  margin: 3rem auto 2rem auto;
}

.simulator #credit-history .credit-history_table th {
  color: white;
  background: #266FF5;
  padding: 1rem 4rem;
  border-radius: 1rem;
}

/*------------------- CONTACTO ------------------- */
.contact {
  background-color: #d0cde1;
  padding: 3rem 0;
  text-align: center;
}

.contact p {
  font-size: 1.4rem;
}

.contact p span {
  font-weight: 600;
}

.contact div {
  padding: 2rem 0 15rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact div article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  padding: 1rem;
  height: 22rem;
  width: 24rem;
  background-size: cover;
  background-position: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact div article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contact div article p {
  max-width: 14rem;
}

.contact div article img {
  width: 7rem;
  margin-top: 1.5rem;
}

.contact .whatsapp {
  background-image: url(images/background/blob4.svg);
}

.contact .phone {
  background-image: url(images/background/blob5.svg);
}

.contact .email {
  background-image: url(images/background/blob6.svg);
}

/*------------------- FOOTER ------------------- */
footer {
  background-color: black;
  color: white;
}

footer .footer_container {
  margin-top: -6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer_container .footer_logo {
  width: 18rem;
}

footer .footer_container .footer_nav_desktop, footer .footer_container .footer_nav_mobile {
  padding-top: 10.2rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer .footer_container .footer_nav_desktop p, footer .footer_container .footer_nav_mobile p {
  font-size: 1.5rem;
}

footer .footer_container .footer_nav_desktop a, footer .footer_container .footer_nav_mobile a {
  color: white;
  margin: .3rem 0;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .footer_container .footer_nav_desktop a:hover, footer .footer_container .footer_nav_mobile a:hover {
  color: #44FFD4;
}

footer .footer_container .footer_nav_mobile {
  display: none;
}

footer .footer_container .socialNetwork {
  color: white;
  font-size: 2rem;
  margin: 0 .5rem;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .footer_container .socialNetwork:hover {
  color: #44FFD4;
}

footer .footer_container .usuariosFinancieros {
  width: 12rem;
}

/*------------------- MOBILE ------------------- */
@media screen and (max-width: 767px) {
  .activeElement {
    left: 0%;
  }
  header .header_logo {
    position: static;
    top: 0;
    left: 0;
    width: 15rem;
    margin: .15rem 15rem 0 0;
    z-index: 4;
  }
  header nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(160deg, #266ff5 75%, #44ffd4 100%);
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    z-index: 3;
  }
  header nav ul {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul li {
    margin: 1rem 0;
  }
  header nav ul a {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
  }
  header .menu-active {
    left: 0;
    -webkit-transition: left .5s;
    transition: left .5s;
  }
  header .hamburguer-icon {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    margin: auto;
    z-index: 4;
  }
  header .hamburguer-icon .line {
    background: white;
    border-radius: .5rem;
    width: 40px;
    height: 6px;
    margin-bottom: 8px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .hamburguer-icon .top {
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    top: 18px;
    position: relative;
  }
  header .hamburguer-icon .center {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0,3s, opacity 2s linear;
    transition: visibility 0s 0,3s, opacity 2s linear;
  }
  header .hamburguer-icon .bottom {
    /* IE 9 */
    -webkit-transform: rotate(140deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    top: -10px;
    position: relative;
  }
  .hero p {
    position: relative;
    z-index: 2;
    top: 2.5rem;
    margin: 0 0 2rem 1rem;
    font-size: 3.75rem;
    max-width: 7rem;
  }
  .aboutUs {
    display: block;
  }
  .aboutUs .aboutUs-txt {
    width: 100%;
    margin-bottom: 3.5rem;
    text-align: center;
    margin-top: 3.5rem;
  }
  .aboutUs .aboutUs-img {
    display: none;
  }
  .steps div {
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps div article {
    margin: 1rem;
  }
  .credits {
    padding: 4rem 0 10rem 0;
  }
  .credits .credits_nav h2 {
    font-size: 2.5rem;
  }
  .credits .credits_nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
  }
  .credits .credits_nav ul a {
    margin: .3rem 1rem;
  }
  .credits article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1.5rem 2rem 3rem 2rem;
  }
  .credits article .txt {
    margin: .5rem 0 1.5rem 0;
    max-width: 18rem;
  }
  .credits article .credit_img {
    width: 18rem;
  }
  .simulator {
    height: 55rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .simulator h2 {
    font-size: 2.5rem;
    margin: 2rem 0 1.5rem 0;
  }
  .simulator .simulator > * {
    margin: 0 auto 15rem auto;
    padding-top: 2rem;
  }
  .simulator #simulator-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .simulator #simulator-form p {
    font-size: 1rem;
    max-width: 16rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
    line-height: 1.5rem;
  }
  .simulator #simulator-form form {
    width: 20rem;
    margin-left: 1.25rem;
  }
  .simulator #simulator-form #amountErrorMessage, .simulator #simulator-form #insuficientIncomeMessage {
    font-size: 1rem;
  }
  .simulator #simulator-form-response {
    max-width: 22rem;
    margin-top: 5rem;
  }
  .simulator #contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .simulator #contact-form p {
    font-size: 1rem;
    max-width: 16rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
    line-height: 1.5rem;
  }
  .simulator #contact-form form {
    width: 20rem;
    margin-left: 1.25rem;
  }
  .simulator #contact-form form #contactForm_ErrorMessage {
    font-size: 1rem;
  }
  .simulator #contact-form-response div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .simulator #contact-form-response div p {
    max-width: 22rem;
  }
  .simulator #contact-form-response div img {
    width: 10rem;
    margin: 0 0 1.5rem 0;
  }
  .simulator #credit-history {
    margin: 6rem 0 0 -4rem;
  }
  .simulator #credit-history .credit-history_table {
    margin: 0 auto 2rem auto;
  }
  .simulator #credit-history .credit-history_table th {
    padding: .5rem .5rem;
  }
  .contact div {
    padding: 2rem 0 4rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact div article {
    margin: 1rem;
  }
  footer .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    margin-top: -8rem;
  }
  footer .footer_container .footer_logo {
    margin-bottom: 1rem;
  }
  footer .footer_container .footer_nav_desktop {
    display: none;
  }
  footer .footer_container .footer_nav_mobile {
    text-align: center;
    margin-bottom: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_container .socialNetwork {
    margin: 3rem 1rem;
  }
  footer .footer_container .usuariosFinancieros {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */